// Header Style
.st_header {
	min-height: 750px;
	height: 100vh;
	width: 100%;
	position: relative;
	background-image: url(../img/hero-bg.png);
	background-size: cover;
	background-position: left bottom;
	background-repeat: no-repeat;
	@include xliv-screen {
		min-height: auto;
	}
	&__bg {
		height: 100%;
		width: 100%;
		position: relative;
		background: rgba($black, 0.2);
	}
	&__bottom {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&__img {
		position: absolute;
		top: 80px;
		right: 40px;
		width: 650px;
		@include xli-screen {
			width: 700px;
		}
		@include xlii-screen {
			width: 740px;
		}
		@include xliv-screen {
			width: 850px;
		}
		@include xlv-screen {
			width: 890px;
		}
		@include xxl-screen {
			width: 950px;
			top: 60px;
			right: 80px;
		}
	}
}
