.st-hero {
    &-title-top {
        display: block;
        font-size: 18px;
        line-height: 1;
        font-weight: 500;
    }
    &-subtitle {
        display: block;
        @include xli-screen {
            width: 70%;
        }
    }
    &__height {
        height: calc(100% - 96px);
        @include lg-screen {
            height: calc(100% - 108px);
        }
    }
    &__center {
        height: 100%;
    }
}