.project-card {
    position: relative;
    transition: all .3s ease;
    overflow: hidden;
    
    &:hover {
        box-shadow: 0 5px 10px rgba($black, .15);
        .project-card__link {
            opacity: 1;
            text-decoration: none;
            color: $white;
        }
    }

    &__link {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba($secondary, .7);
        opacity: 0;
        font-family: $line-icon-free;
        font-size: 60px;
        line-height: 1;
        color: $white;
        font-weight: 900;
        transition: all .3s ease;
        cursor: pointer;
    }
}