.service-card {
    box-shadow: 0 5px 15px rgba($black, .1);
    &__head {
        position: relative;
        &-icon {
            position: absolute;
            top: 25px;
            left: 15px;
        }
    }
    &__body {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    &__title {
        text-transform: capitalize;
    }
}